<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partial/head %>
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
		<% include ../partial/logo-header %>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<% include ../partial/navbar-header %>
			<!-- End Navbar -->
		</div>

		<!-- Sidebar -->
	<% include ../partial/sidebar %>
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="content">
        <form action="/users/useradd" method="post" id="myform">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Sign Up</div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8 col-lg-8">
                      <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                        <!-- <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                      <div class="form-group">
                        <label for="email">User Email </label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                        <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="password">User Password</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card-action">
                    <input type="submit" name="" value="Submit">
                  <!-- <button type="button" id="sub" name="button" class="btn btn-success">Sign Up</button> -->
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
			<% include ../partial/footer %>
		</div>


	</div>
	<!--   Core JS Files   -->
	<% include ../partial/script %>
</body>

    <script  src="/javascripts/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $('#email').blur(function(){
          var data = {email:$('#email').val()};
          if(data.email != ''){
            $.ajax({url:'/duemail', data:data, type:'POST',
            success:function (result){
              if(result.status){
                alert('duplicate email');
                $('#email').val('');
                $('#email').focus();
            }
          }
        })
      }

      })

      $('#myform').validate({
        rules:{
          name:{
            required: true,
            minlength:3,
            maxlength: 20
          },
          email:{
            required:true,
            emailExt:true
          },
          pwd:{
            required:true,
            minlength:6,
            maxlength:20,
            pwcheck:true
          }
        },

        messages:{
          name:{
            required:'User name field is required'

          },
          email:{
            required:'User email field is required',
          },
          pwd:{
            required:'User password field is required',
            pwcheck: 'Please enter 1 uppercase, 1 lowercase, 1 digit'
          },
          maxlength: $.validator.format("Please Insert max {0} character"),
          minlength: $.validator.format("Please Insert atleast {0} character"),
        }
      })


      jQuery.validator.addMethod("emailExt", function(value, element, param) {
      return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      },'Your E-mail is wrong');

      $.validator.addMethod("pwcheck", function(value) {
     return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
         && /[a-z]/.test(value) // has a lowercase letter
         && /[A-Z]/.test(value)
         && /\d/.test(value) // has a digit
       });
      </script>

</html>














<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1> -->
    <!-- <form name="frm" class="" action="/signup" method="post">
      <label for="name">Admin name</label>
      <input type="text" name="name" id="name" value="">
      <label for="email">Admin Email</label>
      <input type="email" name="email" id="email" value="">
      <label for="pwd">Password</label>
      <input type="password" name="pwd" id="pwd" value="">
      <button type="button" id="sub" name="button">Sign Up</button>
    </form>

    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>



  </body>
</html> -->







<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Add</title>
  </head>
  <body>
    <h1>User Add</h1>
    <form action="/users/useradd" method="post" id="myform">
      <label for="name">User Name</label>
      <input type="text" name="name" value="" id="name"><p>
      <label for="email">User Email</label>
      <input type="email" name="email" value="" id="email"><p>
      <label for="pwd">Password</label>
      <input type="pwd" name="pwd" value="" id="pwd"><p>
      <input type="submit" name="" value="Submit">
    </form>

    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>

  <script type="text/javascript">
      $('#email').blur(function(){
        var data = {email:$('#email').val()};
        if(data.email != ''){
          $.ajax({url:'/duemail', data:data, type:'POST',
          success:function (result){
            if(result.status){
              alert('duplicate email');
              $('#email').val('');
              $('#email').focus();
          }
        }
      })
    }

    })

    $('#myform').validate({
      rules:{
        name:{
          required: true,
          minlength:3,
          maxlength: 20
        },
        email:{
          required:true,
          emailExt:true
        },
        pwd:{
          required:true,
          minlength:6,
          maxlength:20,
          pwcheck:true
        }
      },

      messages:{
        name:{
          required:'User name field is required'

        },
        email:{
          required:'User email field is required',
        },
        pwd:{
          required:'User password field is required',
          pwcheck: 'Please enter 1 uppercase, 1 lowercase, 1 digit'
        },
        maxlength: $.validator.format("Please Insert max {0} character"),
        minlength: $.validator.format("Please Insert atleast {0} character"),
      }
    })


    jQuery.validator.addMethod("emailExt", function(value, element, param) {
    return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
    },'Your E-mail is wrong');

    $.validator.addMethod("pwcheck", function(value) {
   return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
       && /[a-z]/.test(value) // has a lowercase letter
       && /[A-Z]/.test(value)
       && /\d/.test(value) // has a digit
     });
    </script>
  </body>
</html> -->
